body {
      margin: 0;
      font-family: Arial, sans-serif;
      color: #6fda98;
      background: linear-gradient(to bottom, #666, #000);
      height: 100%;
      overflow-x: hidden;
      scroll-behavior: smooth;
    }

    .logo {
    font-weight: bold;
  font-size: 30px;  
  letter-spacing: 5px;  
  font-family: 'Audiowide', sans-serif;
}

 .hero {
  font-size: 20px;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;  
      align-items: center;
      text-align: center;
      padding-top: 15px;
      position: relative;
    }

    .btn {
      font-family: 'Orbitron', sans-serif;
      background: #6fda98;
      color: black;
      padding: 10px 25px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      font-size: 15px;
      transition: 0.3s;
    }

    .btn:hover {
      opacity: 0.15;
    }

.navbar {
  width: 100%;
  background: #0B0C10;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
}

.nav-links {
  display: flex;
  gap: 25px;  
  flex-wrap: wrap; 
}

.nav-links a {
  font-family: 'Orbitron', sans-serif;
  color: #6fda98;
  text-decoration: none;
  font-size: 23px;
  transition: 0.15s;
}

.nav-links a:hover {
  opacity: 0.20;
}

@media (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }

  .nav-links {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 32px;
  }
  p {
    font-size: 14px;
  }
}
